:root {
  --primary: #edf2f4;
  --secondary: #ef233c;
  --three: #d90429;
  --four: #8d99ae;
  --five: #d90429;
  background-color: var(--primary);
}

h1 {
  font-family: 'Oswald';
  letter-spacing: 2px;
  font-weight: Bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  letter-spacing: 2px;
  font-weight: lighter;
}

h4 a {
  color: black;
  text-decoration: none;
  font-style: italic;
}


li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.header {
  position: absolute;
  padding: 20px;
  letter-spacing: 3px;
  color: var(--secondary);
  margin: 2%;
}


#nav {
  display: flex;
  flex-direction: Column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 10%;
  color: var(--secondary);
  margin: 2%;
  overflow: inherit;
}

#nav li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  font-weight: bold;
  font-family: 'Oswald';
  cursor: pointer;
  letter-spacing: 2px;
}

#nav li:active {
  outline: 4px;
}

#nav li:hover {
  transition: .1s ease all;
  transform: scale(1.05);
}

.content{
  height: 100vh;
  text-align: left;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 10%;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--secondary);
  width: 100%;
}

#experience{
  height:auto;
}


#education h4, ul {
  margin: 5px;
}